{% extends "layout.njk" %}

{% block head %}
  <title>Pagina não encontrada</title>
{% endblock %}

{% block content %}  
  <div class="content page-not-found">
    <div class="error">
      <h1>Pagina não encontrada voltar para <a href="/">pagina de Cursos</a>?</h1>
    </div><!--erro-->
  </div><!--content-->
{% endblock %}